@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIDLY</h1>
    <p class="lead">Step-by-step ASP.NET MVC Tutorial for Beginners.mp4</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg"> more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Step-by-step ASP.NET MVC Tutorial for Beginners
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Step-by-step ASP.NET MVC Tutorial for Beginners.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Step-by-step ASP.NET MVC Tutorial for Beginners</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>